<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.indrian.whatmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="io.indrian.whatmovies.MovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <receiver
            android:name="io.indrian.whatmovies.notification.LatestMovieTodayReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name="io.indrian.whatmovies.notification.DailyMovieReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <activity android:name="io.indrian.whatmovies.ui.search.SearchActivity" />
        <activity android:name="io.indrian.whatmovies.ui.favorite.FavoriteActivity" />
        <activity android:name="io.indrian.whatmovies.ui.settings.SettingsActivity" />
        <activity android:name="io.indrian.whatmovies.ui.tvshowdetail.TVShowDetailActivity" />
        <activity android:name="io.indrian.whatmovies.ui.moviedetail.MovieDetailActivity" />
        <activity
            android:name="io.indrian.whatmovies.ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>